<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginService">
	<select id="login" parameterType="kr.co.sinsa.biz.user.CustomerVO" resultType="kr.co.sinsa.biz.user.CustomerVO">
		select * from CUSTOMER where CUS_ID=#{CUS_ID} and CUS_PWD=#{CUS_PWD}
	</select>
	
	<select id="getUser" parameterType="kr.co.sinsa.biz.user.UserVO" resultType="kr.co.sinsa.biz.user.UserVO">
		select CUS_ID, CUS_NAME from CUSTOMER where CUS_ID=#{CUS_ID} and CUS_PWD=#{CUS_PWD}
	</select>
	
	<select id="getCustomerID" parameterType="kr.co.sinsa.biz.user.CustomerVO" resultType="String">
		select CUS_ID from CUSTOMER where CUS_EMAIL=#{CUS_EMAIL} and CUS_NAME=#{CUS_NAME}
	</select>
	
	<select id="getCustomerPWD" parameterType="kr.co.sinsa.biz.user.CustomerVO" resultType="String">
		select CUS_PWD from CUSTOMER where CUS_EMAIL=#{CUS_EMAIL} and CUS_NAME=#{CUS_NAME} and CUS_ID=#{CUS_ID}
	</select>
	
	<select id="getAllCustomerList" resultType="kr.co.sinsa.biz.user.CustomerVO">
		select * from CUSTOMER
	</select>

</mapper>
